.content {
    min-height: 100vh;
    background-color: var(--background-color-main);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30vh;
        background-image: var(--background-image-mobile);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    &__container {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 auto;
        padding: 0 10px;
        max-width: 500px;
    }

    @include mq(xxsmall) {
        padding: 0 25px;
    }

    @include mq(small) {
        &::before {
            background-image: var(--background-image-desktop);
        }
    }
}
