.results {
    margin-bottom: 30px;
    background-color: var(--background-color-panel);
    border-radius: 5px;

    &__empty {
        margin: 10px 0;
        color: var(--empty-text-color);
        text-align: center;
        font-size: 0.6rem;
    }

    &__info {
        margin: 70px 0 20px;
        font-size: 0.8rem;
        text-align: center;
        color: var(--options-text-color);
    }

    @include mq(small) {
        &__info {
            margin: 10px 0;
            font-size: 1rem;
        }
    }
}
